# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\intelliJ_pro\java_hotel_manager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
